<div class="feedback-container">
  <div class="swiper-container swiper-feedback">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="slide">
          <div class="title-h4">Design Quality</div>
          <div class="comment">
            The designer is just amazing! Very good quality and taste. This template is incredible beautiful. The overall impression is more
            than good.The support cannot be better. I wish the team all success!
          </div>
          <div class="contact">
            <img src="https://picsum.photos/50/50" />
            <div class="information">
              <div class="company title-h3">HellstarWorks</div>
              <div class="name">Envato Customer</div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="slide">
          <div class="title-h4">Design Quality</div>
          <div class="comment">
            First of all, I really enjoyed setting this up. What a great layout and design. The support is fast and high quality. They
            really made an effort to make sure I got the help I needed. keep in mind that it is not only a great design, but also it is easy
            to change it up with little effort. Great Job!
          </div>
          <div class="contact">
            <img src="https://picsum.photos/50/50" />
            <div class="information">
              <div class="company title-h3">Lindamiku</div>
              <div class="name">Marketing Manager</div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="slide">
          <div class="title-h4">Design Quality</div>
          <div class="comment">
            This theme is awesome and the designer is very helpful. I had a few questions before purchase. He/She helped me with all the
            doubts. Also, they provide quick support. Thank you so much for a beautiful theme
          </div>
          <div class="contact">
            <img src="https://picsum.photos/50/50" />
            <div class="information">
              <div class="company title-h3">makrandpatne</div>
              <div class="name">Web Designer</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="swiper-pagination swiper-feedback"></div>
</div>
