<div class="main-container overflow-hidden">
  <div class="swiper-container swiper-news position-relative">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="row m-0 p-5">
          <div class="col-12 col-lg-6">
            <img src="https://source.unsplash.com/1280x720/?nature" alt="Image Slider" width="100%" />
          </div>
          <div class="col-12 col-lg-6 my-auto">
            <div class="d-flex flex-column gap-2">
              <div class="date">June 12, 2022</div>
              <div class="title-news title-h4">Wildlife could be amazing, see why.</div>
              <div class="title-desc">Proin faucibus nec mauris a sodales, sed elementum mi tincidunt. Sed eget viverra egestas</div>
              <div class="title-link link-border-bottom">
                <i class="fas fa-circle-dot" aria-hidden="true"></i>
                <span>View Case</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="row m-0 p-5">
          <div class="col-12 col-lg-6">
            <img src="https://source.unsplash.com/1280x720/?nature,water,animal" alt="Image Slider" width="100%" />
          </div>
          <div class="col-12 col-lg-6 my-auto">
            <div class="d-flex flex-column gap-2">
              <div class="date">June 12, 2022</div>
              <div class="title-news title-h4">Wildlife could be amazing, see why.</div>
              <div class="title-desc">Proin faucibus nec mauris a sodales, sed elementum mi tincidunt. Sed eget viverra egestas</div>
              <div class="title-link link-border-bottom">
                <i class="fas fa-circle-dot" aria-hidden="true"></i>
                <span>View Case</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="row m-0 p-5">
          <div class="col-12 col-lg-6">
            <img src="https://source.unsplash.com/1280x720/?water" alt="Image Slider" width="100%" />
          </div>
          <div class="col-12 col-lg-6 my-auto">
            <div class="d-flex flex-column gap-2">
              <div class="date">June 12, 2022</div>
              <div class="title-news title-h4">Wildlife could be amazing, see why.</div>
              <div class="title-desc">Proin faucibus nec mauris a sodales, sed elementum mi tincidunt. Sed eget viverra egestas</div>
              <div class="title-link link-border-bottom">
                <i class="fas fa-circle-dot" aria-hidden="true"></i>
                <span>View Case</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="row m-0 p-5">
          <div class="col-12 col-lg-6">
            <img src="https://source.unsplash.com/1280x720/?animal" alt="Image Slider" width="100%" />
          </div>
          <div class="col-12 col-lg-6 my-auto">
            <div class="d-flex flex-column gap-2">
              <div class="date">June 12, 2022</div>
              <div class="title-news title-h4">Wildlife could be amazing, see why.</div>
              <div class="title-desc">Proin faucibus nec mauris a sodales, sed elementum mi tincidunt. Sed eget viverra egestas</div>
              <div class="title-link link-border-bottom">
                <i class="fas fa-circle-dot" aria-hidden="true"></i>
                <span>View Case</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="row m-0 p-5">
          <div class="col-12 col-lg-6">
            <img src="https://source.unsplash.com/1280x720/?travel" alt="Image Slider" width="100%" />
          </div>
          <div class="col-12 col-lg-6 my-auto">
            <div class="d-flex flex-column gap-2">
              <div class="date">June 12, 2022</div>
              <div class="title-news title-h4">Wildlife could be amazing, see why.</div>
              <div class="title-desc">Proin faucibus nec mauris a sodales, sed elementum mi tincidunt. Sed eget viverra egestas</div>
              <div class="title-link link-border-bottom">
                <i class="fas fa-circle-dot" aria-hidden="true"></i>
                <span>View Case</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="row m-0 p-5">
          <div class="col-12 col-lg-6">
            <img src="https://source.unsplash.com/1280x720/?flower" alt="Image Slider" width="100%" />
          </div>
          <div class="col-12 col-lg-6 my-auto">
            <div class="d-flex flex-column gap-2">
              <div class="date">June 12, 2022</div>
              <div class="title-news title-h4">Wildlife could be amazing, see why.</div>
              <div class="title-desc">Proin faucibus nec mauris a sodales, sed elementum mi tincidunt. Sed eget viverra egestas</div>
              <div class="title-link link-border-bottom">
                <i class="fas fa-circle-dot" aria-hidden="true"></i>
                <span>View Case</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="swiper-pagination swiper-news"></div>
    <div class="swiper-button-next swiper-news"></div>
    <div class="swiper-button-prev swiper-news"></div>
  </div>
</div>
