<div class="wrapper d-flex flex-nowrap">
  <section id="our-work" class="section section-work justify-content-center">
    <div class="big-title-work">OUR</div>
    <div class="big-title-work">WORK</div>
  </section>
  <section id="panel-0" class="section position-relative">
    <img src="content/images/home/headset.jpg" alt="img" />
    <div class="panel-container">
      <div class="panel-container-inside">
        <div class="title-h2 d-inline-block text-truncate">HEADPHONES</div>
        <div class="panel-desc">
          <div class="panel-text">
            Mode is an audio range designed to provide optimal performance and comfort for every mode of use. The system utilises a
          </div>
          <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </section>
  <section id="panel-1" class="section">
    <img src="content/images/home/dog-chow.jpg" alt="img" />
    <div class="panel-container">
      <div class="panel-container-inside">
        <div class="title-h2">DOG CHOW</div>
        <div class="panel-desc">
          <div class="panel-text">
            This optional section is only applicable to posts. It is a space for you to write a summary of the post. Depending on the
          </div>
          <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </section>
  <section id="panel-2" class="section">
    <img src="content/images/home/earphone.jpg" alt="img" />
    <div class="panel-container">
      <div class="panel-container-inside">
        <div class="title-h2">OPEN RUN</div>
        <div class="panel-desc">
          <div class="panel-text">
            ABOUT THE PROJECT Wondour™ was tasked with creating a pair of electronic glasses that can help legally-blind and low-vision
            people see again. We’re helping
          </div>
          <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </section>
  <section id="panel-3" class="section">
    <img src="content/images/home/audi.jpg" alt="img" />
    <div class="panel-container">
      <div class="panel-container-inside">
        <div class="title-h2">AUDI RS</div>
        <div class="panel-desc">
          <div class="panel-text">
            This optional section is only applicable to posts. It is a space for you to write a summary of the post. Depending on the
          </div>
          <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </section>
  <section id="panel-4" class="section">
    <img src="content/images/home/fashion.jpg" alt="img" />
    <div class="panel-container">
      <div class="panel-container-inside">
        <div class="title-h2">FASHION</div>
        <div class="panel-desc">
          <div class="panel-text">
            Service Photographer Industry Daniel Jaramillo Published June 15th 2022 Caption #1 Caption #2 Caption #3 How is your visual
            identity? we give fashion forward
          </div>
          <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </section>
  <section id="panel-5" class="section">
    <img src="content/images/home/glasses.jpg" alt="img" />
    <div class="panel-container">
      <div class="panel-container-inside">
        <div class="title-h2">VISIONAID</div>
        <div class="panel-desc">
          <div class="panel-text">
            Meet VisionAid™. Patents Pending. Wondour™ was tasked with creating a pair of electronic glasses that can help legally-blind and
            low-vision people see again. We’re
          </div>
          <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </section>
  <section id="wonderful-design" class="section section-work justify-content-center">
    <div class="medium-title-work">WONDERFUL</div>
    <div class="medium-title-work">DESIGN</div>
  </section>
</div>
