<div id="panels-container">
  <article id="panel-0" class="panel">
    <div class="panel-container">
      <div class="panel-container-inside">
        <div class="title-h2">HEADPHONES</div>
        <div class="panel-desc">
          <div class="panel-text">
            ABOUT THE PROJECT Mode is an audio range designed to provide optimal performance and comfort for every mode of use. The system
            utilises a
          </div>
          <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </article>
  <article id="panel-1" class="panel">
    <div class="panel-container">
      <div class="panel-container-inside">
        <div class="title-h2">DOG CHOW</div>
        <div class="panel-desc">
          <div class="panel-text">
            This optional section is only applicable to posts. It is a space for you to write a summary of the post. Depending on the
          </div>
          <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </article>
  <article id="panel-2" class="panel orange">
    <div class="panel-container">
      <div class="panel-container-inside">
        <div class="title-h2">OPEN RUN</div>
        <div class="panel-desc">
          <div class="panel-text">
            ABOUT THE PROJECT Wondour™ was tasked with creating a pair of electronic glasses that can help legally-blind and low-vision
            people see again. We’re helping
          </div>
          <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </article>
  <article id="panel-3" class="panel purple">
    <div class="panel-container">
      <div class="panel-container-inside">
        <div class="title-h2">AUDI RS</div>
        <div class="panel-desc">
          <div class="panel-text">
            This optional section is only applicable to posts. It is a space for you to write a summary of the post. Depending on the
          </div>
          <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </article>
  <article id="panel-4" class="panel green">
    <div class="panel-container">
      <div class="panel-container-inside">
        <div class="title-h2">FASHION</div>
        <div class="panel-desc">
          <div class="panel-text">
            Service Photographer Industry Daniel Jaramillo Published​ June 15th 2022 Caption #1 Caption #2 Caption #3 How is your visual
            identity? we give fashion forward
          </div>
          <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </article>
  <article id="panel-5" class="panel gray">
    <div class="panel-container">
      <div class="panel-container-inside">
        <div class="title-h2">VISIONAID</div>
        <div class="panel-desc">
          <div class="panel-text">
            Meet VisionAid™. Patents Pending. Wondour™ was tasked with creating a pair of electronic glasses that can help legally-blind and
            low-vision people see again. We’re
          </div>
          <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </article>
  <article id="panel-6" class="panel gray">
    <div class="panel-container">
      <div class="panel-container-inside">
        <div class="title-h2">APPLICATION</div>
        <div class="panel-desc">
          <div class="panel-text">
            Proud of our ability to offer efficient and personalized solutions, which are designed to meet the specific needs of each
            client. We believe that every web application is unique and should be treated as such.
          </div>
          <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </article>
</div>
